{% extends 'base.twig' %}

{% block content %}
    <h3>
        {{ 'Ads'|trans }}
    </h3>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}" role="alert">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    <ul>
        {% for row in ads %}
            <li>
                <a href="{{ url('ads_view', {'id': row.id}) }}" title="View ad">
                    {{row.title|upper}}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>
            <a href="{{ url('ads_add') }}" title="Add ad"> 
                {{'Add ad'|trans}} 
            </a>
        </p>      
        <p>     
            <a href="{{ url('profile_ads') }}" title="View your ads">
                {{'View your ads'|trans}}
            </a>
        </p>
    {% endif %}
{% endblock %}