{% extends 'base.twig' %}

{% block title %}
    {{ 'Log in'|trans }}
{% endblock %}

{% block content %}
    <h3>
        {{ 'Log in'|trans }}
    </h3>
    {{ error }}
    <form action="{{ path('auth_login_check') }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" value="{{ 'Log in'|trans }}" />
    </form>
{% endblock %}